* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-attachment: fixed;
  background-color: rgb(63, 94, 251);
  background-image: linear-gradient(
    180deg,
    rgba(63, 94, 251, 1) 37%,
    rgba(252, 70, 107, 1) 100%
  );
}

#fundo {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 300px 180px;
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 18px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.356);
}

.Images IMG {
  background-color: rgba(255, 255, 255, 0.685);
  width: 180px;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(0, 0, 0, 0.075);
  border-radius: 100px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.356);
}

.Dia p {
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 261px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.Data p {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.Horario p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.Hora {
  display: flex;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.Relogio {
  display: flex;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
}

.Relogio span {
  font-size: 60px;
  display: flex;
  height: 65px;
  color: rgb(0, 0, 0);
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.Relogio span:not(:last-child)::after {
  content: ":";
  margin-bottom: 20px;
  color: rgba(43, 43, 43, 0.603);
}
