* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

#fundo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 250px 180px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.356);
}

.Images IMG {
  background-color: rgb(255, 255, 255);
  width: 190px;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(0, 0, 0, 0.075);
  border-radius: 100px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
}

.Dia p {
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 235px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.Data p {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.Horario p {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.Hora {
  display: flex;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.Relogio {
  display: flex;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
}

.Relogio span {
  font-size: 60px;
  display: flex;
  color: rgb(0, 0, 0);
  gap: 10px;
}

.Relogio span:not(:last-child)::after {
  content: ":";
  margin-bottom: 20px;
  color: rgba(43, 43, 43, 0.603);
}
